*.mp4
*.suo
*.ipch
*.log
*.tlog
*.obj
*.user
*.filters
projects/wd_cross_platform/dlist/Debug/*
projects/wd_cross_platform/sortlist/Debug/*
projects/wd_cross_platform/priority_queue/Debug/*
projects/wd_cross_platform/uid/Debug/*
projects/wd_cross_platform/scheduler/Debug/*
projects/wd_cross_platform/wd_routine/Debug/*
projects/snake_game/Debug/*
projects/snake_game/x64/Debug/*
projects/snake_game_old
*.vs*
projects/buttons/Code/x64/*
projects/press_button/Debug/*