<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div style="text-align:center">
  <h1>
    From AppComponent
  </h1>

  <h1>
    {{message}}
  </h1>
  
</div>
<app-class-binding></app-class-binding>
<app-style-binding></app-style-binding>
<app-event-binding></app-event-binding>
<app-template-ref-vars></app-template-ref-vars>
<app-two-way-binding></app-two-way-binding>
<app-component-interaction (childEvent)="message=$event" [parentData]="name"></app-component-interaction>
<app-pipes></app-pipes>
<app-employee-list></app-employee-list>
<app-employee-detail></app-employee-detail>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

