body
{
	color: green;
	font-family: verdana, arial, Geneva, Arial black;
	font-weight: normal;
	background-color: lime; 
	background-color: rgb(240, 28, 235);
	background-color: #ffcf79;
	<!-- Three options for colors --> 
}

h1, h2
{
	text-decoration: underline;
}

p.para1
{
	color: blue;
	font-size: 25px; 		<!-- px = pixels -->
}

p.para2
{
	color: red;
	font-size: 25px; 		<!-- px = pixels -->
}

p.para3
{
	color: purple;
	font-size: 15px; 		
	line-height: 150%;		<!-- Diff between the lines - 150% than at the parent -->
}